<Ui>
	<Script file="Mover.lua"/>
	<Script file="Config.lua"/>
	<Script file="Loadout.lua"/>
	<Script file="Advanced.lua"/>
	<Script file="Panel.lua"/>

	<Frame name="CPActionBarConfig" virtual="true" inherits="CPPopupPanelTemplate" hidden="true" clampedToScreen="true" movable="true" enableMouse="true">
		<Size x="600" y="500"/>
		<Frames>
			<Button parentKey="Main" inherits="CPSquareButtonTemplate">
				<Size x="48" y="48"/>
				<Anchors>
					<Anchor point="TOPRIGHT" relativeKey="$parent.CloseButton" relativePoint="TOPLEFT" y="6"/>
				</Anchors>
				<KeyValues>
					<KeyValue key="icon" value="Interface\AddOns\ConsolePort\Assets\Textures\Logo\CP_Thumb" type="string"/>
					<KeyValue key="iconSize" value="24" type="number"/>
				</KeyValues>
			</Button>
			<Button parentKey="Mover" inherits="CPSquareButtonTemplate">
				<Size x="48" y="48"/>
				<Anchors>
					<Anchor point="RIGHT" relativeKey="$parent.Main" relativePoint="LEFT" x="6"/>
				</Anchors>
				<KeyValues>
					<KeyValue key="icon" value="Interface\CURSOR\UI-Cursor-Move" type="string"/>
					<KeyValue key="iconSize" value="24" type="number"/>
				</KeyValues>
			</Button>
			<ScrollFrame parentKey="SettingsContainer" inherits="CPScrollFrameTemplate">
				<Anchors>
					<Anchor point="TOPLEFT" x="16" y="-80"/>
					<Anchor point="BOTTOMRIGHT" x="-24" y="36"/>
				</Anchors>
				<Frames>
					<Frame parentKey="Tabs" inherits="CPTabGroupTemplate" scale="1.2">
						<Anchors>
							<Anchor point="BOTTOMLEFT" relativePoint="TOPLEFT" x="64" y="2"/>
						</Anchors>
					</Frame>
				</Frames>
				<ScrollChild>
					<Frame parentKey="ScrollChild" inherits="ResizeLayoutFrame" frameLevel="10">
						<Frames>
							<Frame parentKey="Options" inherits="VerticalLayoutFrame" hidden="true">
								<KeyValues>
									<KeyValue key="layoutIndex" value="1" type="number"/>
									<KeyValue key="spacing" value="4" type="number"/>
								</KeyValues>
								<Anchors>
									<Anchor point="TOPLEFT"/>
								</Anchors>
							</Frame>
							<Frame parentKey="Loadout" inherits="VerticalLayoutFrame" hidden="true">
								<KeyValues>
									<KeyValue key="layoutIndex" value="2" type="number"/>
									<KeyValue key="spacing" value="4" type="number"/>
								</KeyValues>
								<Anchors>
									<Anchor point="TOPLEFT"/>
								</Anchors>
							</Frame>
							<Frame parentKey="Advanced" inherits="VerticalLayoutFrame" hidden="true">
								<KeyValues>
									<KeyValue key="layoutIndex" value="2" type="number"/>
								</KeyValues>
								<Anchors>
									<Anchor point="TOPLEFT"/>
								</Anchors>
							</Frame>
						</Frames>
					</Frame>
				</ScrollChild>
			</ScrollFrame>
		</Frames>
	</Frame>
</Ui>