<Ui xmlns="http://www.blizzard.com/wow/ui/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.blizzard.com/wow/ui/
..\FrameXML\UI.xsd">

	<Frame name="CPConfigActionDisplayTemplate" virtual="true">
		<Layers>
			<Layer level="ARTWORK" textureSubLevel="2">
				<FontString parentKey="Modifier" inherits="Game15Font">
					<Anchors>
						<Anchor point="TOPLEFT" x="6" y="-2"/>
					</Anchors>
				</FontString>
				<Texture parentKey="ActionIcon" alpha="0">
					<Size x="32" y="32"/>
					<Anchors>
						<Anchor point="RIGHT" x="-8"/>
					</Anchors>
				</Texture>
			</Layer>
			<Layer level="ARTWORK" textureSubLevel="3">
				<Texture parentKey="Mask" alpha="0" file="Interface\AddOns\ConsolePort\Assets\Textures\Button\Icon_Mask32">
					<Anchors>
						<Anchor point="TOPLEFT" relativeKey="$parent.ActionIcon" x="-1" y="1"/>
						<Anchor point="BOTTOMRIGHT" relativeKey="$parent.ActionIcon" x="1" y="-1"/>
					</Anchors>
				</Texture>
				<MaskTexture parentKey="MaskAlpha"
					file="Interface\CharacterFrame\TempPortraitAlphaMask" hWrapMode="CLAMPTOBLACKADDITIVE" vWrapMode="CLAMPTOBLACKADDITIVE">
					<Anchors>
						<Anchor point="TOPLEFT" relativeKey="$parent.ActionIcon"/>
						<Anchor point="BOTTOMRIGHT" relativeKey="$parent.ActionIcon"/>
					</Anchors>
					<MaskedTextures>
						<MaskedTexture childKey="ActionIcon"/>
					</MaskedTextures>
				</MaskTexture>
			</Layer>
		</Layers>
	</Frame>

	<Frame name="CPConfigMapperHeaderTemplate" virtual="true">
		<Size x="360" y="60"/>
		<Layers>
			<Layer level="ARTWORK" textureSubLevel="1">
				<FontString parentKey="Label" inherits="CPSubtitleFont" justifyH="CENTER" height="14" spacing="2">
					<Anchors>
						<Anchor point="CENTER"/>
					</Anchors>
				</FontString>
			</Layer>
		</Layers>
	</Frame>

	<Frame name="CPConfigBindingDisplayTemplate" inherits="CPConfigActionDisplayTemplate, CPConfigMapperHeaderTemplate" virtual="true"/>
	<Button name="CPConfigBindingSplashDisplayTemplate" inherits="CPConfigBindingDisplayTemplate" virtual="true">
		<Layers>
			<Layer level="ARTWORK" textureSubLevel="1">
				<Texture parentKey="Icon">
					<Size x="32" y="32"/>
				</Texture>
			</Layer>
		</Layers>	
	</Button>

	<Frame name="CPConfigHeaderTemplate" virtual="true" mixin="CPConfigHeaderMixin">
		<Size x="500" y="50"/>
		<Layers>
			<Layer level="BACKGROUND">
				<Texture parentKey="BG" atlas="bonusobjectives-title-bg" setAllPoints="true"/>
			</Layer>
			<Layer level="BACKGROUND" textureSubLevel="2">
				<Line parentKey="LineTopLeft" inherits="CPLineTemplateYellow" hidden="false"/>
				<Line parentKey="LineTopRight" inherits="CPLineTemplateYellow" hidden="false"/>
				<Line parentKey="LineBottomLeft" inherits="CPLineTemplateYellow" hidden="false"/>
				<Line parentKey="LineBottomRight" inherits="CPLineTemplateYellow" hidden="false"/>
			</Layer>
			<Layer level="ARTWORK">
				<FontString parentKey="Text" inherits="Fancy16Font">
					<Anchors>
						<Anchor point="CENTER" x="0" y="4"/>
					</Anchors>
				</FontString>
				<Texture parentKey="Emblem" file="Interface\QuestFrame\BonusObjectives.blp">
					<Size x="57" y="15"/>
					<TexCoords left="0.35546875" right="0.466796875" top="0.48046875" bottom="0.509765625"/>
					<Anchors>
						<Anchor point="BOTTOM" x="0" y="-3"/>
					</Anchors>
				</Texture>
			</Layer>
		</Layers>
		<Scripts>
			<OnLoad method="OnLoad"/>
		</Scripts>
	</Frame>

	<Frame name="CPConfigIconHeaderTemplate" inherits="CPConfigHeaderTemplate" virtual="true">
		<Layers>
			<Layer level="ARTWORK">
				<Texture parentKey="Portrait">
					<Size x="32" y="32"/>
					<Anchors>
						<Anchor point="RIGHT" relativeKey="$parent.Text" relativePoint="LEFT" x="-12" y="0"/>
					</Anchors>
				</Texture>
			</Layer>
			<Layer level="OVERLAY">
				<Texture parentKey="Button">
					<Size x="32" y="32"/>
					<Anchors>
						<Anchor point="LEFT" relativeKey="$parent.Text" relativePoint="RIGHT" x="12" y="0"/>
					</Anchors>
				</Texture>
				<Texture parentKey="PortraitMask" file="Interface\AddOns\ConsolePort\Assets\Textures\Button\Icon_Mask32" hidden="true">
					<Size x="32" y="32"/>
					<Anchors>
						<Anchor point="CENTER" relativeKey="$parent.Portrait"/>
					</Anchors>
				</Texture>
			</Layer>
		</Layers>
	</Frame>

	<IndexButton name="CPIndexButtonBindingComboTemplate" virtual="true" inherits="CPIndexButtonIconTextTemplate, CPConfigActionDisplayTemplate"/>

	<IndexButton name="CPIndexButtonBindingHeaderTemplate" virtual="true">
		<Size x="560" y="40"/>
		<KeyValues>
			<KeyValue key="thumbPosition" value="TOP" type="string"/>
			<KeyValue key="thumbSize" value="1" type="number"/>
		</KeyValues>
		<ButtonText parentKey="Label" inherits="CPSubtitleFont" wordwrap="false" justifyH="CENTER">
			<Size x="560" y="40"/>
			<Anchors>
				<Anchor point="TOP" y="0"/>
			</Anchors>
		</ButtonText>
		<Frames>
			<Frame parentKey="Content" hidden="true">
				<Anchors>
					<Anchor point="TOPLEFT" y="-40"/>
					<Anchor point="BOTTOMRIGHT"/>
				</Anchors>
			</Frame>
		</Frames>
	</IndexButton>

	<IndexButton name="CPIndexButtonSettingTemplate" virtual="true">
		<Size x="560" y="40"/>
		<KeyValues>
			<KeyValue key="thumbPosition" value="TOP" type="string"/>
			<KeyValue key="thumbSize" value="1" type="number"/>
		</KeyValues>
		<ButtonText parentKey="Label" inherits="CPSubtitleFont" wordwrap="false" justifyH="LEFT">
			<Color r="1" g="1" b="1" />
			<Size x="560" y="40"/>
			<Anchors>
				<Anchor point="LEFT" x="16" y="0"/>
			</Anchors>
		</ButtonText>
		<Frames>
			<Frame parentKey="Content" hidden="true">
				<Anchors>
					<Anchor point="TOPLEFT" y="-40"/>
					<Anchor point="BOTTOMRIGHT"/>
				</Anchors>
			</Frame>
		</Frames>
	</IndexButton>

	<IndexButton name="CPIndexButtonBindingActionBarTemplate" virtual="true">
		<Size x="540" y="40"/>
		<KeyValues>
			<KeyValue key="thumbPosition" value="BOTTOM" type="string"/>
			<KeyValue key="thumbSize" value="0" type="number"/>
		</KeyValues>
		<ButtonText parentKey="Label" inherits="CPWhiteFont" wordwrap="false" justifyH="CENTER">
			<Size x="540" y="40"/>
			<Anchors>
				<Anchor point="TOP" y="0"/>
			</Anchors>
		</ButtonText>
		<Frames>
			<Frame parentKey="Content" hidden="true">
				<Anchors>
					<Anchor point="TOPLEFT" y="-40"/>
					<Anchor point="BOTTOMRIGHT"/>
				</Anchors>
			</Frame>
		</Frames>
	</IndexButton>

	<IndexButton name="CPIndexButtonBindingActionTemplate" virtual="true">
		<Size x="260" y="36"/>
		<KeyValues>
			<KeyValue key="thumbPosition" value="BOTTOM" type="string"/>
		</KeyValues>
		<ButtonText parentKey="Label" inherits="CPSmallFont" wordwrap="false" justifyH="LEFT">
			<Anchors>
				<Anchor point="TOPLEFT" x="8"/>
				<Anchor point="BOTTOMRIGHT" x="-16"/>
			</Anchors>
		</ButtonText>
		<Layers>
			<Layer level="ARTWORK">
				<FontString parentKey="Slug" inherits="CPSmallFont" justifyH="RIGHT">
					<Anchors>
						<Anchor point="RIGHT" x="-8" />
					</Anchors>
				</FontString>
			</Layer>
		</Layers>
	</IndexButton>

	<IndexButton name="CPIndexButtonSimpleTemplate" virtual="true">
		<Size x="260" y="36"/>
		<KeyValues>
			<KeyValue key="thumbPosition" value="BOTTOM" type="string"/>
		</KeyValues>
		<ButtonText parentKey="Label" inherits="CPSmallFont" wordwrap="false" justifyH="CENTER">
			<Anchors>
				<Anchor point="TOPLEFT" x="8"/>
				<Anchor point="BOTTOMRIGHT" x="-8"/>
			</Anchors>
		</ButtonText>
		<Scripts>
			<OnEnter>
				if (self.TooltipHeader and self.TooltipText) then
					GameTooltip:SetOwner(self, 'ANCHOR_RIGHT');
					GameTooltip:SetText(self.TooltipHeader, nil, nil, nil, nil, true);
					GameTooltip:AddLine(self.TooltipText, 1, 1, 1, true);
					if (self.OnTooltipSet) then
						self:OnTooltipSet(GameTooltip);
					end
					GameTooltip:Show();
				end
			</OnEnter>
			<OnLeave>
				if (GameTooltip:IsOwned(self)) then
					GameTooltip:Hide();
				end
			</OnLeave>
		</Scripts>
	</IndexButton>

	<IndexButton name="CPIndexButtonBindingActionButtonTemplate" virtual="true">
		<Size x="38" y="38"/>
		<KeyValues>
			<KeyValue key="thumbPosition" value="BOTTOM" type="string"/>
		</KeyValues>
		<Layers>
			<Layer level="ARTWORK" textureSubLevel="1">
				<Texture parentKey="Icon" file="Interface\AddOns\ConsolePort\Assets\Textures\Button\EmptyIcon">
					<Anchors>
						<Anchor point="TOPLEFT" x="1" y="-1"/>
						<Anchor point="BOTTOMRIGHT" x="-1" y="1"/>
					</Anchors>
					<TexCoords left="0.1" right="0.9" top="0.1" bottom="0.9"/>
				</Texture>
			</Layer>
			<Layer level="ARTWORK" textureSubLevel="2">
				<FontString parentKey="Slug" inherits="CPSmallFont" justifyH="RIGHT">
					<Anchors>
						<Anchor point="TOPRIGHT"/>
					</Anchors>
				</FontString>
			</Layer>
		</Layers>
	</IndexButton>

	<Slider name="CPConfigSliderTemplate" inherits="HorizontalSliderTemplate" virtual="true">
		<Size x="144" y="17"/>
		<Layers>
			<Layer level="ARTWORK">
				<FontString parentKey="Text" inherits="GameFontHighlight">
					<Anchors>
						<Anchor point="BOTTOM" relativePoint="TOP"/>
					</Anchors>
				</FontString>
				<FontString parentKey="Low" inherits="GameFontHighlightSmall" text="LOW">
					<Anchors>
						<Anchor point="RIGHT" relativePoint="LEFT" x="-4"/>
					</Anchors>
				</FontString>
				<FontString parentKey="High" inherits="GameFontHighlightSmall" text="HIGH">
					<Anchors>
						<Anchor point="LEFT" relativePoint="RIGHT" x="4"/>
					</Anchors>
				</FontString>
			</Layer>
		</Layers>
	</Slider>

	<IndexButton name="CPConfigWizardDeviceButton" virtual="true">
		<Size x="250" y="100"/>
		<KeyValues>
			<KeyValue key="thumbPosition" value="BOTTOM" type="string"/>
		</KeyValues>
		<Layers>
			<Layer level="ARTWORK" textureSubLevel="1">
				<Texture parentKey="Splash">
					<Anchors>
						<Anchor point="TOPLEFT" x="1" y="-1"/>
						<Anchor point="BOTTOMRIGHT" x="-1" y="1"/>
					</Anchors>
				</Texture>
			</Layer>
			<Layer level="ARTWORK" textureSubLevel="2">
				<FontString parentKey="Name" inherits="CPHeaderFont">
					<Anchors>
						<Anchor point="CENTER"/>
					</Anchors>
				</FontString>
			</Layer>
		</Layers>
	</IndexButton>

	<Button name="CPConfigNavButtonTemplate" motionScriptsWhileDisabled="true" virtual="true">
		<Size x="80" y="30"/>
		<Layers>
			<Layer level="OVERLAY" textureSubLevel="2">
				<Texture file="Interface\HelpFrame\CS_HelpTextures" parentKey="arrowUp">
					<Size x="21" y="30"/>
					<Anchors>
						<Anchor point="LEFT" relativePoint="RIGHT" x="0" y="0"/>
					</Anchors>
					<TexCoords left="0.88867188" right="0.92968750" top="0.29687500" bottom="0.53125000"/>
				</Texture>
				<Texture file="Interface\HelpFrame\CS_HelpTextures" parentKey="arrowDown" hidden="true">
					<Size x="21" y="30"/>
					<Anchors>
						<Anchor point="LEFT" relativePoint="RIGHT" x="0" y="0"/>
					</Anchors>
					<TexCoords left="0.63281250" right="0.67382813" top="0.75781250" bottom="0.99218750"/>
				</Texture>
				<Texture file="Interface\HelpFrame\CS_HelpTextures" parentKey="selected" hidden="true">
					<Anchors>
						<Anchor point="TOPLEFT" x="0" y="0"/>
						<Anchor point="BOTTOMRIGHT" x="0" y="0"/>
					</Anchors>
					<TexCoords left="0.00195313" right="0.25195313" top="0.37500000" bottom="0.64062500"/>
				</Texture>
			</Layer>
		</Layers>
		<Scripts>
			<OnMouseDown>
				if self:IsEnabled() then
					self.arrowUp:Hide();
					self.arrowDown:Show();
				end
			</OnMouseDown>
			<OnMouseUp>
				self.arrowDown:Hide();
				self.arrowUp:Show();
			</OnMouseUp>
			<OnClick>
				PlaySound(SOUNDKIT.IG_MAINMENU_OPTION_CHECKBOX_ON);
			</OnClick>
			<OnEnable>
				self.arrowDown:Hide();
				self.arrowUp:Show();
			</OnEnable>
			<OnDisable>
				self.arrowDown:Hide();
				self.arrowUp:Show();
			</OnDisable>
		</Scripts>
		<NormalTexture file="Interface\HelpFrame\CS_HelpTextures_Tile" horizTile="true">
			<TexCoords left="0.00000000" right="1.00000000" top="0.06250000" bottom="0.12109375"/>
		</NormalTexture>		
		<PushedTexture file="Interface\HelpFrame\CS_HelpTextures_Tile" horizTile="true">
			<TexCoords left="0.00000000" right="1.00000000" top="0.12500000" bottom="0.18359375"/>
		</PushedTexture>
		<HighlightTexture file="Interface\HelpFrame\CS_HelpTextures" alphaMode="ADD">
			<TexCoords left="0.00195313" right="0.25195313" top="0.65625000" bottom="0.92187500"/>
		</HighlightTexture>
		<ButtonText name="$parentText" inherits="GameFontNormal" justifyH="LEFT" parentKey="text">
			<Size x="0" y="12"/>
			<Anchors>
				<Anchor point="LEFT" x="24" y="0"/>
			</Anchors>
		</ButtonText>
	</Button>

	<Slider name="CPConfigAxisTemplate" orientation="VERTICAL" minValue="-1" maxValue="1" valueStep="0.01" defaultValue="0" inherits="BackdropTemplate" virtual="true">
		<Size x="16" y="128"/>
		<KeyValues>
			<KeyValue key="backdropInfo" value="BACKDROP_SLIDER_8_8" type="global"/>
		</KeyValues>
		<Layers>
			<Layer level="ARTWORK">
				<FontString parentKey="Text" inherits="GameFontNormalSmall">
					<Anchors>
						<Anchor point="BOTTOM" relativePoint="TOP" y="24"/>
					</Anchors>
				</FontString>
				<FontString inherits="GameFontNormalHuge" text="-">
					<Anchors>
						<Anchor point="TOP" relativePoint="BOTTOM" x="0" y="0"/>
					</Anchors>
					<Color r="1" g="1" b="1" />
				</FontString>
				<FontString inherits="GameFontNormalHuge" text="+">
					<Anchors>
						<Anchor point="BOTTOM" relativePoint="TOP" x="0" y="0"/>
					</Anchors>
					<Color r="1" g="1" b="1" />
				</FontString>
			</Layer>
		</Layers>
		<ThumbTexture file="Interface\Buttons\UI-SliderBar-Button-Vertical">
			<Size x="32" y="32"/>
		</ThumbTexture>
	</Slider>

	<Frame name="CPConfigRawButtonTemplate" virtual="true">
		<Size x="40" y="40"/>
		<Layers>
			<Layer level="BACKGROUND">
				<Texture parentKey="State" setAllPoints="true" file="Interface\Masks\CircleMaskScalable">
					<Color r="0" g="0" b="0" />
				</Texture>
			</Layer>
			<Layer level="ARTWORK">
				<FontString parentKey="Text" inherits="GameFontNormalLarge">
					<Anchors>
						<Anchor point="CENTER"/>
					</Anchors>
				</FontString>
			</Layer>
		</Layers>
	</Frame>

	<Frame name="ConsolePortConfig" inherits="CPContainerFrameTemplate" parent="UIParent" clampedToScreen="true" hidden="true">
		<Size x="1000" y="800"/>
		<Anchors>
			<Anchor point="CENTER"/>
		</Anchors>
	</Frame>

	<Script file="Config.lua"/>
</Ui>


