<Ui xmlns="http://www.blizzard.com/wow/ui/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.blizzard.com/wow/ui/
..\FrameXML\UI.xsd">

	<Frame name="CPConfigActionDisplayTemplate" virtual="true">
		<Layers>
			<Layer level="ARTWORK" textureSubLevel="2">
				<FontString parentKey="Modifier" inherits="Game15Font">
					<Anchors>
						<Anchor point="TOPLEFT" x="6" y="-2"/>
					</Anchors>
				</FontString>
				<Texture parentKey="ActionIcon" alpha="0">
					<Size x="32" y="32"/>
					<Anchors>
						<Anchor point="RIGHT" x="-8"/>
					</Anchors>
				</Texture>
			</Layer>
			<Layer level="ARTWORK" textureSubLevel="3">
				<Texture parentKey="Mask" alpha="0" file="Interface\AddOns\ConsolePort\Assets\Textures\Button\Icon_Mask32">
					<Anchors>
						<Anchor point="TOPLEFT" relativeKey="$parent.ActionIcon" x="-1" y="1"/>
						<Anchor point="BOTTOMRIGHT" relativeKey="$parent.ActionIcon" x="1" y="-1"/>
					</Anchors>
				</Texture>
				<MaskTexture parentKey="MaskAlpha"
					file="Interface\CharacterFrame\TempPortraitAlphaMask" hWrapMode="CLAMPTOBLACKADDITIVE" vWrapMode="CLAMPTOBLACKADDITIVE">
					<Anchors>
						<Anchor point="TOPLEFT" relativeKey="$parent.ActionIcon"/>
						<Anchor point="BOTTOMRIGHT" relativeKey="$parent.ActionIcon"/>
					</Anchors>
					<MaskedTextures>
						<MaskedTexture childKey="ActionIcon"/>
					</MaskedTextures>
				</MaskTexture>
			</Layer>
		</Layers>
	</Frame>

	<Frame name="CPConfigMapperHeaderTemplate" virtual="true">
		<Size x="360" y="60"/>
		<Layers>
			<Layer level="ARTWORK" textureSubLevel="1">
				<FontString parentKey="Label" inherits="CPSubtitleFont" justifyH="CENTER" height="14" spacing="2">
					<Anchors>
						<Anchor point="CENTER"/>
					</Anchors>
				</FontString>
			</Layer>
		</Layers>
	</Frame>

	<Frame name="CPConfigBindingDisplayTemplate" inherits="CPConfigActionDisplayTemplate, CPConfigMapperHeaderTemplate" virtual="true"/>

	<Frame name="CPConfigHeaderTemplate" virtual="true" mixin="CPConfigHeaderMixin">
		<Size x="500" y="50"/>
		<Layers>
			<Layer level="BACKGROUND">
				<Texture parentKey="BG" atlas="bonusobjectives-title-bg" setAllPoints="true"/>
			</Layer>
			<Layer level="BACKGROUND" textureSubLevel="2">
				<Line parentKey="LineTopLeft" inherits="CPLineTemplateYellow" hidden="false"/>
				<Line parentKey="LineTopRight" inherits="CPLineTemplateYellow" hidden="false"/>
				<Line parentKey="LineBottomLeft" inherits="CPLineTemplateYellow" hidden="false"/>
				<Line parentKey="LineBottomRight" inherits="CPLineTemplateYellow" hidden="false"/>
			</Layer>
			<Layer level="ARTWORK">
				<FontString parentKey="Text" inherits="Fancy16Font">
					<Anchors>
						<Anchor point="CENTER" x="0" y="4"/>
					</Anchors>
				</FontString>
				<Texture parentKey="Emblem" file="Interface\QuestFrame\BonusObjectives.blp">
					<Size x="57" y="15"/>
					<TexCoords left="0.35546875" right="0.466796875" top="0.48046875" bottom="0.509765625"/>
					<Anchors>
						<Anchor point="BOTTOM" x="0" y="-3"/>
					</Anchors>
				</Texture>
			</Layer>
		</Layers>
		<Scripts>
			<OnLoad method="OnLoad"/>
		</Scripts>
	</Frame>

	<Frame name="CPConfigIconHeaderTemplate" inherits="CPConfigHeaderTemplate" virtual="true">
		<Layers>
			<Layer level="ARTWORK">
				<Texture parentKey="Portrait">
					<Size x="32" y="32"/>
					<Anchors>
						<Anchor point="RIGHT" relativeKey="$parent.Text" relativePoint="LEFT" x="-12" y="0"/>
					</Anchors>
				</Texture>
			</Layer>
			<Layer level="OVERLAY">
				<Texture parentKey="Button">
					<Size x="32" y="32"/>
					<Anchors>
						<Anchor point="LEFT" relativeKey="$parent.Text" relativePoint="RIGHT" x="12" y="0"/>
					</Anchors>
				</Texture>
				<Texture parentKey="PortraitMask" file="Interface\AddOns\ConsolePort\Assets\Textures\Button\Icon_Mask32" hidden="true">
					<Size x="32" y="32"/>
					<Anchors>
						<Anchor point="CENTER" relativeKey="$parent.Portrait"/>
					</Anchors>
				</Texture>
			</Layer>
		</Layers>
	</Frame>

	<IndexButton name="CPIndexButtonBindingComboTemplate" virtual="true" inherits="CPIndexButtonIconTextTemplate, CPConfigActionDisplayTemplate"/>

	<IndexButton name="CPIndexButtonBindingHeaderTemplate" virtual="true">
		<Size x="560" y="40"/>
		<KeyValues>
			<KeyValue key="thumbPosition" value="TOP" type="string"/>
			<KeyValue key="thumbSize" value="1" type="number"/>
		</KeyValues>
		<ButtonText parentKey="Label" inherits="CPSubtitleFont" wordwrap="false" justifyH="CENTER">
			<Size x="560" y="40"/>
			<Anchors>
				<Anchor point="TOP" y="0"/>
			</Anchors>
		</ButtonText>
		<Frames>
			<Frame parentKey="Content" hidden="true">
				<Anchors>
					<Anchor point="TOPLEFT" y="-40"/>
					<Anchor point="BOTTOMRIGHT"/>
				</Anchors>
			</Frame>
		</Frames>
	</IndexButton>

	<IndexButton name="CPIndexButtonBindingActionBarTemplate" virtual="true">
		<Size x="540" y="40"/>
		<KeyValues>
			<KeyValue key="thumbPosition" value="BOTTOM" type="string"/>
			<KeyValue key="thumbSize" value="0" type="number"/>
		</KeyValues>
		<ButtonText parentKey="Label" inherits="CPWhiteFont" wordwrap="false" justifyH="CENTER">
			<Size x="540" y="40"/>
			<Anchors>
				<Anchor point="TOP" y="0"/>
			</Anchors>
		</ButtonText>
		<Frames>
			<Frame parentKey="Content" hidden="true">
				<Anchors>
					<Anchor point="TOPLEFT" y="-40"/>
					<Anchor point="BOTTOMRIGHT"/>
				</Anchors>
			</Frame>
		</Frames>
	</IndexButton>

	<IndexButton name="CPIndexButtonBindingActionTemplate" virtual="true">
		<Size x="260" y="36"/>
		<KeyValues>
			<KeyValue key="thumbPosition" value="BOTTOM" type="string"/>
		</KeyValues>
		<ButtonText parentKey="Label" inherits="CPSmallFont" wordwrap="false" justifyH="LEFT">
			<Anchors>
				<Anchor point="TOPLEFT" x="8"/>
				<Anchor point="BOTTOMRIGHT" x="-16"/>
			</Anchors>
		</ButtonText>
		<Layers>
			<Layer level="ARTWORK">
				<FontString parentKey="Slug" inherits="CPSmallFont" justifyH="RIGHT">
					<Anchors>
						<Anchor point="RIGHT" x="-8" />
					</Anchors>
				</FontString>
			</Layer>
		</Layers>
	</IndexButton>

	<IndexButton name="CPIndexButtonSimpleTemplate" virtual="true">
		<Size x="260" y="36"/>
		<KeyValues>
			<KeyValue key="thumbPosition" value="BOTTOM" type="string"/>
		</KeyValues>
		<ButtonText parentKey="Label" inherits="CPSmallFont" wordwrap="false" justifyH="CENTER">
			<Anchors>
				<Anchor point="TOPLEFT" x="8"/>
				<Anchor point="BOTTOMRIGHT" x="-8"/>
			</Anchors>
		</ButtonText>
		<Scripts>
			<OnEnter>
				if (self.TooltipHeader and self.TooltipText) then
					GameTooltip:SetOwner(self, 'ANCHOR_RIGHT');
					GameTooltip:SetText(self.TooltipHeader, nil, nil, nil, nil, true);
					GameTooltip:AddLine(self.TooltipText, 1, 1, 1, true);
					if (self.OnTooltipSet) then
						self:OnTooltipSet(GameTooltip);
					end
					GameTooltip:Show();
				end
			</OnEnter>
			<OnLeave>
				if (GameTooltip:IsOwned(self)) then
					GameTooltip:Hide();
				end
			</OnLeave>
		</Scripts>
	</IndexButton>

	<IndexButton name="CPIndexButtonBindingActionButtonTemplate" virtual="true">
		<Size x="38" y="38"/>
		<KeyValues>
			<KeyValue key="thumbPosition" value="BOTTOM" type="string"/>
		</KeyValues>
		<Layers>
			<Layer level="ARTWORK" textureSubLevel="1">
				<Texture parentKey="Icon" file="Interface\AddOns\ConsolePort\Assets\Textures\Button\EmptyIcon">
					<Anchors>
						<Anchor point="TOPLEFT" x="1" y="-1"/>
						<Anchor point="BOTTOMRIGHT" x="-1" y="1"/>
					</Anchors>
					<TexCoords left="0.1" right="0.9" top="0.1" bottom="0.9"/>
				</Texture>
			</Layer>
			<Layer level="ARTWORK" textureSubLevel="2">
				<FontString parentKey="Slug" inherits="CPSmallFont" justifyH="RIGHT">
					<Anchors>
						<Anchor point="TOPRIGHT"/>
					</Anchors>
				</FontString>
			</Layer>
		</Layers>
	</IndexButton>

	<Frame name="ConsolePortConfig" inherits="CPContainerFrameTemplate" parent="UIParent" clampedToScreen="true" hidden="true">
		<Size x="1000" y="800"/>
		<Anchors>
			<Anchor point="CENTER"/>
		</Anchors>
	</Frame>

	<Script file="Config.lua"/>
</Ui>


