<Ui xmlns="http://www.blizzard.com/wow/ui/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.blizzard.com/wow/ui/
..\FrameXML\UI.xsd">

	<Frame name="ConsolePortMenu" parent="UIParent" hidden="true">
		<Size x="450" y="450"/>
		<Layers>
			<Layer level="BACKGROUND" textureSubLevel="2">
				<Texture parentKey="Gradient" file="Interface\AddOns\ConsolePort\Assets\Textures\Menu\Gradient.jpg" setAllPoints="true" alpha="0.5">
					<Anchors>
						<Anchor point="TOPLEFT" x="-425" y="350"/>
						<Anchor point="BOTTOMRIGHT" x="425" y="-350"/>
					</Anchors>
				</Texture>
			</Layer>
			<Layer level="BACKGROUND">
				<Texture parentKey="Background">
					<Anchors>
						<Anchor point="CENTER"/>
					</Anchors>
				</Texture>
				<MaskTexture parentKey="InnerMask" file="Interface\AddOns\ConsolePort\Assets\Textures\Pie\Pie_RingMask" hWrapMode="CLAMPTOWHITE" vWrapMode="CLAMPTOWHITE">
					<Anchors>
						<Anchor point="TOPLEFT" x="64" y="-64"/>
						<Anchor point="BOTTOMRIGHT" x="-64" y="64"/>
					</Anchors>
					<MaskedTextures>
						<MaskedTexture childKey="Background"/>
						<MaskedTexture childKey="Gradient"/>
					</MaskedTextures>
				</MaskTexture>
				<MaskTexture parentKey="Mask" file="Interface\AddOns\ConsolePort_Menu\Assets\RingMask.png">
					<Anchors>
						<Anchor point="TOPLEFT" relativeKey="$parent.Gradient"/>
						<Anchor point="BOTTOMRIGHT" relativeKey="$parent.Gradient"/>
					</Anchors>
					<MaskedTextures>
						<MaskedTexture childKey="Background"/>
						<MaskedTexture childKey="Gradient"/>
					</MaskedTextures>
				</MaskTexture>
			</Layer>
			<Layer level="ARTWORK">
				<Texture parentKey="TopLine" file="Interface\AddOns\ConsolePort\Assets\Textures\Menu\TopLine_Emblem.blp">
					<Size x="600" y="16"/>
					<Anchors>
						<Anchor point="TOP" y="164"/>
					</Anchors>
				</Texture>
				<Texture parentKey="BottomLine" file="Interface\AddOns\ConsolePort\Assets\Textures\Menu\TopLine_Emblem.blp">
					<Size x="600" y="16"/>
					<Anchors>
						<Anchor point="BOTTOM" y="-175"/>
					</Anchors>
				</Texture>
				<MaskTexture parentKey="LineMask" file="Interface\AddOns\ConsolePort_Menu\Assets\SquareMask" hWrapMode="CLAMPTOBLACKADDITIVE" vWrapMode="CLAMPTOBLACKADDITIVE">
					<Anchors>
						<Anchor point="TOPLEFT" relativeKey="$parent.Gradient" x="175"/>
						<Anchor point="BOTTOMRIGHT" relativeKey="$parent.Gradient" x="-175"/>
					</Anchors>
					<MaskedTextures>
						<MaskedTexture childKey="TopLine"/>
						<MaskedTexture childKey="BottomLine"/>
					</MaskedTextures>
				</MaskTexture>
			</Layer>
		</Layers>
	</Frame>

	<PieMenu name="ConsolePortMenuRing" parent="UIParent" registerForClicks="AnyUp, AnyDown" inherits="ConsolePortSecurePie, ConsolePortSlicedPie" hidden="true">
		<Size x="500" y="500"/>
		<Anchors>
			<Anchor point="CENTER"/>
		</Anchors>
		<Frames>
			<Button parentKey="Trigger" name="ConsolePortMenuTrigger" registerForClicks="AnyUp" inherits="SecureHandlerBaseTemplate">
				<Scripts>
					<OnLoad>self:SetParent(GameMenuFrame)</OnLoad>
				</Scripts>
			</Button>
			<Frame parentKey="Filigree" inherits="CPFlashableFiligreeTemplate" useParentLevel="true">
				<Size x="900" y="400"/>
				<Anchors>
					<Anchor point="CENTER"/>
				</Anchors>
				<Scripts>
					<OnShow>
						self:Play();
						PlaySound(SOUNDKIT.UI_POWER_AURA_GENERIC);
					</OnShow>
					<OnHide>
						self:Stop();
						self:SetAlpha(1);
					</OnHide>
				</Scripts>
			</Frame>
		</Frames>
	</PieMenu>

	<Script file="Ring.lua"/>
	<Script file="Menu.lua"/>
</Ui>
