<Ui>
	<CheckButton name="CPBindingPreset" inherits="CPIconSetting" virtual="true"/>
	<CheckButton name="CPBindingPresetAdd" inherits="CPIconSetting" virtual="true"/>

	<Script file="Elements.lua"/>
	<Script file="Settings.lua"/>
	<Script file="Panel.lua"/>
	<Script file="Renderer.lua"/>
	<Script file="DataProvider.lua"/>
</Ui>