<Ui>
	<Script file="Config.lua"/>

	<Frame name="CPConfig" virtual="true" inherits="CPPopupFrameTemplate"
		hidden="true" clampedToScreen="true" movable="true" enableMouse="true" frameStrata="HIGH">
		<Size x="1280" y="800"/>
		<Anchors>
			<Anchor point="CENTER" x="0" y="0"/>
		</Anchors>
		<Frames>
			<Button parentKey="Credits" frameLevel="10">
				<Size x="72" y="72"/>
				<Anchors>
					<Anchor point="TOPLEFT" x="-12" y="8"/>
				</Anchors>
				<NormalTexture file="Interface\AddOns\ConsolePort\Assets\Textures\Logo\CP"/>
				<PushedTexture file="Interface\AddOns\ConsolePort\Assets\Textures\Logo\CP">
					<Size x="72" y="72"/>
					<Anchors>
						<Anchor point="CENTER" y="-2"/>
					</Anchors>
				</PushedTexture>
			</Button>
			<Frame parentKey="NavBar" inherits="CPNavBarTemplate">
				<Anchors>
					<Anchor point="TOPLEFT" x="52" y="-4"/>
				</Anchors>
			</Frame>
			<Frame parentKey="Container" inherits="CPScrollFrameArtTemplate">
				<Anchors>
					<Anchor point="TOPLEFT" x="10" y="-48"/>
					<Anchor point="BOTTOMRIGHT" x="-20" y="32"/>
				</Anchors>
			</Frame>
		</Frames>
	</Frame>
</Ui>